<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
    "Icon made by <a href="https://www.flaticon.com/authors/pixel-perfect">Pixel perfect</a> from <a href="http://www.flaticon.com/">www.flaticon.com"</a>
  </div>
</div>

<%# https://www.flaticon.com/authors/smashicons
    https://www.flaticon.com/authors/ultimatearm
    https://www.freepik.com/?_gl=1*133623p*test_ga*MjExMzQwOTUyNS4xNjMxNjA1OTIz*test_ga_523JXC6VL7*MTYzMTYwNTkyMi4xLjEuMTYzMTYwNjU3OS40OQ..
 %>
